.center{
  display: inline-block;
  text-align: center;
}

.homeGrid{
  height: 100%;
  display: flex;
  flex-flow: column;
}

.expandRow{
  flex-grow: 1;
}

.margin-bottom-20 {
  margin-bottom: 20px
}
