<ion-menu side="start" menuId="{{mainMenu}}" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="addCar()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Autos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngIf="($cars | async) as cars">
      <ion-item button *ngFor="let car of cars"
                [color]="($selectedCar | async).id === car.id ? 'light' : ''"
                (click)="selectCar(car)" >
        <ion-icon slot="start" name="car-sport-outline"></ion-icon>
        <ion-label>
          <h2 style="font-size: 16pt">{{car.name}}</h2>
          <h3>
            <span *ngIf="car.brand">{{car.brand + " "}}</span>
            <span *ngIf="car.model">{{car.model}}</span></h3>
          <p style="color: grey">{{car.description}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
