<div class="map"
     leaflet parkerMap
     [leafletOptions]="options"
     [(leafletCenter)]="position"
     [(leafletZoom)]="zoom"
     [leafletLayers]="layers"
     (leafletMapReady)="onMapReady($event)"
     (leafletMapMoveStart)="onMoveStart($event)"
     (leafletMapMove)="onMove($event)"
     (leafletMapZoomStart)="onZoomStart($event)"
><ion-spinner class="spinner"></ion-spinner>
</div>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="autocenter()">
        <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>



<!--[leafletLayersControl]="layersCtrl"-->
